node {
    shape: rounded-box;
    size-mode: normal;
    
    text-size: 12;
    text-padding: 4px;
    fill-color: white;
    fill-mode: image-scaled;
    
    stroke-color:black;
    stroke-mode: plain;
    stroke-width: 3;
        
    /*shadow-mode: gradient-radial;*/
    
}

node:clicked {
    stroke-color: grey;
}

edge {
    shape: cubic-curve;
}