node {
    shape: rounded-box;
    size-mode: normal;
    
    text-size: 12;
    fill-color: white;
    fill-mode: image-scaled;
    
    stroke-color:black;
    stroke-mode: plain;
    stroke-width: 3;
        
    shadow-mode: gradient-radial;
    shadow-width: 2px;
    shadow-color: #999, white;
    shadow-offset: 3px, -3px;
    
}

node:clicked {
    stroke-color: grey;
}

edge {
    shape: cubic-curve;
}

graph { 
    fill-mode: image-scaled-ratio-max;
    fill-image: url('src/images/dbg.jpg');
}